.App
{
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}

.navbar
{
  max-Width: '1200px'; 
  margin: '0 60px';
  display: 'flex'; 
  align-Items: 'center'; 
  justify-content: 'space-between' 
}